/* .footer {
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;


}

.option1 {
    justify-content: center;
    position: fixed;
    width: 100%;
    background: black;

}

.option3 {
    justify-content: flex-end;
}

.creation {
    text-align: center;
   
}

h3 {
    color:#92908d;
}

.creation p{
    color:  #a9a191 ;
    
} */